<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Pogo" connectionString="DatasetId = codeprose-datastore-test2; CertificateFilePath = C:\Temp\GoogleDatastore\test2\763759ea1659dbefd73b1fc6e227850fabd7f0a4-privatekey.p12; ServiceAccountId = 898160733231-hdr3a5r10aqghnfqno7i3rlnsqmekko8@developer.gserviceaccount.com; CertificatePassword = notasecret"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>